@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap');

*{margin: 0; padding: 0; font-family: 'Jost', sans-serif;}
a{text-decoration: none;}
li{list-style: none;}
body,html{overflow-x: hidden;}

.action_btn5{margin-top: 20px; position: absolute;  left: 0; bottom: 0; width: 100%; border: 1px solid #ccc; background: none; text-align: center; min-height: 49px; display: inline-block; overflow: hidden;
    transition: background .2s ease,color .2s ease,border .2s ease;}
.action_btn5 span{position: relative; color:#555; font-size: 18px;  font-family: 'Jost', sans-serif; line-height: 49px; font-weight: 500; transition: all .5s;}
.action_btn5:hover{border: 1px solid rgb(177, 28, 28);}
.action_btn5:hover:before{transform: none;}
.action_btn5:hover span{
    color: #fff;
}
.action_btn5:before{ content: '';
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgb(177, 28, 28); transform: translate3d(0,101%,0);
    transition: transform .6s cubic-bezier(.19,1,.22,1);
}


.action_btn6{margin-top: 20px; position: relative;  left: 0; bottom: 0; width: 80%; background: #f7f7f7;  border: 1px solid #ccc;  text-align: center; min-height: 49px; display: inline-block; overflow: hidden;
    transition: background .2s ease,color .2s ease,border .2s ease;}
.action_btn6 span{position: relative; color:#555; font-size: 15px; line-height: 49px; font-weight:500; transition: all .5s;}
.action_btn6:hover{border: 1px solid rgb(177, 28, 28);}
.action_btn6:hover:before{transform: none;}
.action_btn6:hover span{
    color: #fff;
}
.action_btn6:before{ content: '';
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgb(177, 28, 28);     transform: translate3d(0,101%,0);
    transition: transform .6s cubic-bezier(.19,1,.22,1);
}


.gnb{position: fixed; top: 0; width: 100%; height: 60px; background: #fff; z-index: 999; border-bottom: 1px solid rgb(196, 196, 196);}
.gnb .logo{position: absolute; left: 50%; transform: translateX(-50%); margin-top: 6px;}
.gnb .menu{color: #555;  margin-left: 50px; height: 60px; width: 150px; display: flex; align-items: center;}
.gnb .menu .menu-txt{font-weight: bold; padding-left: 15px; transition: all 0.4s;}

.gnb .menu .menu_btn{ width:auto; height:auto;  display: inline-block;}
.gnb .menu .menu_btn span{display: block; width: 20px; border-radius: 1px; height: 2px; background: #555; transition: all 0.4s;}
.gnb .menu .menu_btn span:nth-child(2){margin: 5px 0;}
.gnb .menu:hover{color: #c40d2e;}
.gnb .menu:hover .menu_btn span{background:#c40d2e;}



.menu_wrap{ display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; visibility: visible; background: rgba(0, 0, 0, 0.192);}
.main_menu{left: -100%;  top: 0; position: fixed; width: 210px; height: 100%; background: #fff; z-index: 999; transition: all .6s cubic-bezier(.19,1,.22,1);; box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.575); visibility: visible; }

.main_menu .menu_list{background: #fff; border-right: 1px solid rgb(218, 218, 218); position: absolute; top: 60px; overflow-y: visible; box-sizing: border-box; z-index: 999; left: 0; right: 0; bottom: 0;}

.main_menu .menu_list .list_wrap{position: relative; width: 100%; height: 100%; padding-top: 20px; padding-bottom: 20px; box-sizing: border-box;display: table;}

.main_menu .menu_list ul{display: table-cell; vertical-align: middle; text-align: center; }
.main_menu .menu_list ul .list_menus{letter-spacing: 1px; padding: 0 20px 37px;}
.main_menu .menu_list ul .list_menus a{font-size: 13px; color: #555; transition: all 0.4s;}
.main_menu .menu_list ul .list_menus:hover>a{color: #c40d2e;}

.main_menu .menu_list ul .list_menus>a i{display: block; padding-bottom: 5px; opacity: .3; font-size: 20px;}
.main_menu .menu_list ul .list_menus>a ion-icon{display: block; margin: auto; padding-bottom: 5px; opacity: .3; font-size: 25px; }
.main_menu .menu_list ul .list_menus>a:after{
    content: '';
    position: absolute;
    left: 50%;
    width: 12px;
    margin-left: -6px;
    margin-top: 35px;
    height: 2px;
    background: #ebebeb;
}


.list_wrap .list_menus .sub_menu{position: fixed; display: table; width: 235px; height: 100%; opacity: 0; background: #fff; top: 0; left: -235px; z-index: -999;  transition: all 0.3s;}
.list_wrap .list_menus .sub_menu.on{left: 210px; opacity: 1;}
.list_wrap .list_menus .sub_menu ul{display: table-cell; vertical-align: middle;}
.list_wrap .list_menus .sub_menu .sub_list_menu .sub_tit{display: block; padding-bottom: 20px;}
.list_wrap .list_menus .sub_menu .sub_list_menu .sub_tit span{display: inline-block; color: #c40d2e;  font-weight: 600; padding: 8px 0; border-bottom: 1px solid #c40d2e;}

.w_collection{width: 100%; max-height: 450px; height: auto; position: relative; }
.w_collection .collection{list-style: none;}

.w_collection .collection a{display: block; padding: 15px 0; }
.w_collection .collection a svg{max-height: 18px; width: 100%; fill: #555; }
.w_collection .collection a:hover svg{fill: #c40d2e;}
.w_finder{background: #eee; display: block; line-height: 40px; margin: 20px 0;}
.w_finder ion-icon{font-size: 25px; vertical-align: middle; color: #555;}
.w_finder span{letter-spacing: 1px; font-size: 13px;  color: #555;}
.w_finder:hover ion-icon{color: #c40d2e;}
.w_finder:hover span{color: #c40d2e;}
.collection2 a{display: block; padding: 23px 0;}
.collection2 a span:after{
    content: '';
    position: absolute;
    left: 50%;
    width: 12px;
    margin-left: -6px;
    margin-top: -20px;
    height: 2px;
    background: #ebebeb;
}
.collection2 a span:hover{color: #c40d2e;}


.collection3 a{display: block; padding: 18px 0;}
.collection3 a span:after{
    content: '';
    position: absolute;
    left: 50%;
    width: 12px;
    margin-left: -6px;
    margin-top: 35px;
    height: 2px;
    background: #ebebeb;
}
.collection3 a span:hover{color: #c40d2e;}




.collection4 a{display: block; padding: 7px 0;}
.collection4 a span:hover{color: #c40d2e;}

.follow_us{margin-top: 35px;}
.follow_us span{color: #555; font-size: 14px; font-weight: 400; display: block; padding: 18px 0;}
.follow_us  span:after{
    content: '';
    position: absolute;
    left: 50%;
    width: 12px;
    margin-left: -6px;
    margin-top: -35px;
    height: 2px;
    background: #ebebeb;
}

.sub_menu .follow_wrap{margin: auto; display: table;}
.sub_menu .follow_wrap ul{width: 180px; padding: 10px 0 20px !important;}

.sub_menu .follow_wrap ul li{ display: inline-block; list-style: none; width: 36px;}
.sub_menu .follow_wrap ul li a i{font-size: 23px;}
.sub_menu .follow_wrap ul li a:hover i{color: #c40d2e;}

.our_apps span{color: #555; display: block; padding: 20px 0; font-size: 14px;}
.our_apps span:after{
    content: '';
    position: absolute;
    left: 50%;
    width: 12px;
    margin-left: -6px;
    margin-top: -35px;
    height: 2px;
    background: #ebebeb;
}
.our_apps .our_wrap{display: table; margin: auto;}
.our_apps .our_wrap li{display: inline-block;}


.header_menu{position: relative; width: auto; height: 60px; float: right; display: flex; margin-right: 50px;}

.header_menu .search{width: auto; display: flex; align-items: center; transform:rotateY(180deg); transform-origin:center top; padding-left: 20px; font-size: 18px; padding-top: 4px; color: rgb(134, 132, 132); transition: all 0.5s;}
.header_menu .search:hover{color: #c40d2e;}
.header_menu .myPage{width: auto; display: flex; align-items: center; color: rgb(138, 136, 136);}
.header_menu .myPage:hover>span{color: #c40d2e;}
.header_menu .myPage span{font-size: 13px;  transition: all 0.5s;}
.header_menu .myPage span i{font-size: 17px; margin-left: 1px;}

.header_menu .myPage .open_mypage_wrap{display: none; position: fixed; top: 60px; right: 0; width: auto; height: auto; box-sizing: border-box; padding: 30px 30px;}
.header_menu .myPage .open_mypage_wrap .open_mypage{box-sizing: border-box; padding: 40px 0px; width: 680px; height: 350px; background: rgb(255, 255, 255); border: 1px solid rgb(214, 214, 214);}
.open_mypage_wrap .open_mypage .input_form{width: 100%; height: 100%; display: flex;}

.input_form h4{margin-bottom: 20px; color: #555; font-weight: 500; font-family: 'Jost', sans-serif; }
.input_form p{font-size: 14px; font-family: 'Jost', sans-serif; letter-spacing: 1px; color: #555;}
.input_form .form_wrap{position: relative; height: 100%;}
.input_form .form_wrap.a1{animation-name: a1; animation-duration:0.5s;}

.input_form .form_wrap.a2{animation-name: a2; animation-duration:0.7s;}

@keyframes a1 { 0% {top: 30px; opacity: 0;}  100% {top:0; opacity: 1;} }
@keyframes a2 { 0% {top: 30px; opacity: 0;}  100% {top:0; opacity: 1;} }


.input_form .login{width: 50%; height: 100%; box-sizing: border-box; padding: 0 30px 0 40px;}
.input_form .login .forget_ps{font-size: 14px; font-family: 'Jost', sans-serif; text-decoration: underline; color: #555;}
.input_form .login .email_box{box-sizing: border-box; padding: 0 10px; border: 1px solid #ccc; background: rgb(245, 244, 244); margin-bottom: 20px;}
.input_form .login .pass_box{box-sizing: border-box; padding: 0 10px; border: 1px solid #ccc; background: rgb(245, 244, 244); margin-bottom: 13px;}
.input_form .login form input{width: 100%; height: 43px; background: none; outline: none; border: none;}


.input_form .join_info{width: 50%; height: 100%; border-left:1px solid rgb(221, 221, 221) ; box-sizing: border-box; padding: 0 40px 0 30px;}


.main_menu button{display: flex; align-items: center; outline: none; border: none; background: none; width: 100%; height: 60px; background: #fff; border-right: 1px solid rgb(218, 218, 218); border-bottom: 1px solid rgb(218, 218, 218);}
.main_menu button>span{color: #c40d2e; font-weight: bold; font-size: 15px; padding-left: 17px; transition: all 0.4s;}
.main_menu button .menu_close{position: relative;  margin-left: 45px; width:auto; height:auto; text-align: center;  transform: rotate(0deg);transition: all 0.3s;}
.main_menu button .menu_close span{color: #c40d2e; font-size: 30px; font-weight: 300; display: block; margin-top: -7px;}
.main_menu button:hover .menu_close{transform: rotate(90deg);}


.banner_wrap{position: relative; box-sizing: border-box; padding-top: 60px; width: 100%; max-height:100vh;  height: auto; overflow: hidden;}
.banner_wrap .banner_slide{display: none;}
.banner_wrap .indicator_wrap{display: flex;}
.banner_wrap .indicator{position: absolute; z-index: 100; width: 100%; bottom: 80px; text-align: center;}

.banner_wrap .indicator .indicator_play{padding-top: 1px; position: relative; width: 26px; line-height: 26px; height: 26px; display: inline-block;  background: none; margin-right: -5px; outline: none; border:none; }
.banner_wrap .indicator .indicator_play:before{font-family:FontAwesome;
    content:"\f04c";
    font-size: 12px;
    color: #555;
}
.banner_wrap .indicator .indicator_play.paused:before {
    font-family:FontAwesome;
    content:"\f04b";
    font-size: 10px;
    color: #555;
}


/* 라이트 속성 넣을거  */
.banner_wrap .indicator.light .indicator_play:before{font-family:FontAwesome;
    content:"\f04c";
    font-size: 12px;
    color: #fff;
}
.banner_wrap .indicator.light .indicator_play.paused:before {
    font-family:FontAwesome;
    content:"\f04b";
    font-size: 10px;
    color: #fff;
}
.banner_wrap .indicator.light .slick-dots li button:before{display: block; transform: scale(1); content: ''; position: absolute; width: 9px; height: 9px;  top: 50%; left: 50%; margin: -4px 0 0 -4px; background: #fff; border-radius: 50%; transition: transform .5s cubic-bezier(.19,1,.22,1);}





.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4;} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }





.banner_wrap .indicator .slick-dots{border:none; height: 26px;  vertical-align: bottom; box-sizing: border-box; list-style: none; padding: 0; margin: 0; font-size: 0;}
.banner_wrap .indicator .slick-dots li{display: inline-block; vertical-align: bottom;}
.banner_wrap .indicator .slick-dots li button{display: block; outline: none; border: none; position: relative; width: 26px; height: 26px;  background: none;}

.banner_wrap .indicator .slick-dots li button:before{display: block; transform: scale(1); content: ''; position: absolute; width: 9px; height: 9px;  top: 50%; left: 50%; margin: -4px 0 0 -4px; background: #555; border-radius: 50%; transition: transform .5s cubic-bezier(.19,1,.22,1);}
.banner_wrap .indicator .slick-dots li button:hover:before{transform: scale(1.2);}

.banner_wrap .indicator .slick-dots li.slick-active button:before{transform: scale(0);}
.banner_wrap .indicator .slick-dots li button:after{display: block; content: ''; position: absolute; border: 2px solid #c40d2e; width: 9px; height: 9px; top: 50%; left: 051%; border-radius: 50%; margin: -6px 0 0 -6px; transform: scale(0); transition: transform .5s cubic-bezier(.19,1,.22,1);}

.banner_wrap .indicator .slick-dots li.slick-active button:after{transform: scale(1);}


.banner_wrap .banner_inner{z-index: 10; display: table;
    table-layout: fixed; position: absolute; max-width: 1450px; width: 100%; height:calc(100% - 120px); left: 50%; transform: translateX(-50%);}
.banner_wrap .banner_inner .banner_text_wrap{ display: table-cell; position: relative; vertical-align: middle;position: relative; text-align: right; padding-right: 40px;}

.banner_wrap .banner_inner .banner_text_wrap .tit{font-size: 2.3571em;}
.banner_wrap .banner_inner .banner_text_wrap .sub_tit{padding-bottom: 5px; font-size: 20px; letter-spacing: 1px; color: #fff;}
.banner_text_wrap .sain_img img{width: 180px;}

.banner_wrap .banner_inner .banner_text_wrap .sub_tit.one{letter-spacing: 3px;}
.banner_text_wrap .tit.one{color: #fff;}
.banner_text_wrap .tit.two{color: #fff;}
.banner_text_wrap .tit.three{font-size: 40px; letter-spacing: 1px; color: #555;}
.action_btn4.btn-txt{font-size: 17px; font-weight: 600;}


.banner_wrap .banner_inner .banner_text_wrap .action_btn3{margin-top: 20px; position: relative; border: 1px solid rgb(199, 199, 199); background: none; padding:0 40px; min-height: 49px; display: inline-block; overflow: hidden; transition: background .2s ease,color .2s ease,border .2s ease;}
.banner_wrap .banner_inner .banner_text_wrap .action_btn3 span{position: relative; color: #fff; font-size: 15px; line-height: 49px; font-weight: 600; transition: all .5s; letter-spacing: 1px;}
.banner_wrap .banner_inner .banner_text_wrap .action_btn3:hover{border: 1px solid rgb(255, 255, 255);}
.banner_wrap .banner_inner .banner_text_wrap .action_btn3:hover:before{transform: none;}
.banner_wrap .banner_inner .banner_text_wrap .action_btn3:hover span{color:#555;}
.banner_wrap .banner_inner .banner_text_wrap .action_btn3:before{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff; transform: translate3d(0,101%,0); transition: transform .6s cubic-bezier(.19,1,.22,1);}





.pm-responsive-image{position: relative; _transform: scale(1.15); transition: transform 3s cubic-bezier(.19,1,.22,1) 0s; width: 100%; max-width: 100%; height: auto; display: block;} 
.pm-responsive-image img{display: block; width: 100%;}
img.lazyloaded{opacity: 1; transition: opacity .2s;}


.action_btn3{margin-top: 20px; position: relative; border: 1px solid rgb(199, 199, 199); background: none; padding:0 40px; min-height: 49px; display: inline-block; overflow: hidden; transition: background .2s ease,color .2s ease,border .2s ease;}
.action_btn3 span{position: relative; color: #fff; font-size: 15px; line-height: 49px; font-weight: 500;font-family: 'Jost', sans-serif; transition: all .5s; letter-spacing: 1px;}
.action_btn3:hover{border: 1px solid rgb(255, 255, 255);}
.action_btn3:hover:before{transform: none;}
.action_btn3:hover span{color:#555;}
.action_btn3:before{ content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff; transform: translate3d(0,101%,0); transition: transform .6s cubic-bezier(.19,1,.22,1);}




.banner_btn{position: absolute; bottom: 0;  height: 60px; width: 100%; background: #fff; text-align: center;}
.banner_btn ion-icon{font-size: 20px; margin-top: 20px; transition: all 0.4s; color: #555;}
.banner_btn:hover ion-icon{margin-top: 25px; color: #c40d2e;}

.text_info{text-align: center; margin-top: 100px; height: auto; width: 100%;}
.text_info h1{margin: auto; color: #c40d2e; width: 60%; font-size: 40px; font-weight: 400; letter-spacing: 3px;}
.text_info p{width: 65%; margin: auto; letter-spacing: 1px; font-weight: 400; color: #555; margin-top: 20px; margin-bottom: 20px;}

.action_btn{margin-top: 20px; position: relative; border: 1px solid rgb(199, 199, 199); background: none; padding:0 50px; min-height: 49px; display: inline-block; overflow: hidden;
    transition: background .2s ease,color .2s ease,border .2s ease;}
.action_btn span{position: relative; color:#555; font-size: 16px; line-height: 49px; transition: all .5s; font-weight: 500;font-family: 'Jost', sans-serif;}
.action_btn:hover{border: 1px solid #c40d2e;}
.action_btn:hover:before{transform: none;}
.action_btn:hover span{
    color: #fff;
}
.action_btn:before{ content: '';
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #c40d2e;  transform: translate3d(0,101%,0);
    transition: transform .6s cubic-bezier(.19,1,.22,1);
}

.action_btn4{margin-top: 20px; position: relative; border: 1px solid #555; background: none; padding:0 40px; min-height: 49px; display: inline-block; overflow: hidden;
    transition: background .2s ease,color .2s ease,border .2s ease;}
.action_btn4 span{position: relative; color:#555; font-size: 15px; line-height: 49px; font-weight: 500;font-family: 'Jost', sans-serif; transition: all .5s; letter-spacing: 1px;}
.action_btn4:hover{border: 1px solid #c40d2e;}
.action_btn4:hover:before{transform: none;}
.action_btn4:hover span{
    color: #fff;
}
.action_btn4:before{ content: '';
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgb(177, 28, 28);     transform: translate3d(0,101%,0);
    transition: transform .6s cubic-bezier(.19,1,.22,1);
}

.mid_img{padding: 100px 0 0; display: table;  _max-width: 1200px; width: 70%; height: 500px; margin: auto;}
.mid_img {width: 100%;}
#slides{width: auto; height: auto; white-space: nowrap; font-size: 0; transform: translateX(0);}

#slides .mid_con1{width: 100%; box-sizing: border-box; padding:0 10px; display: inline-block;}
#slides .mid_con2{width: 100%; box-sizing: border-box; padding:0 10px; display: inline-block;}
.animate{transition: all .5s ease-out;}
.mid_con1 img{width: 100%; display: block;}
.mid_con2 img{width: 100%; display: block;}


.mid_img2{padding: 100px 0 0; display: table; _max-width: 1500px; width: 80%; height: 500px; margin: auto;}
.mid_img2 ul{display: flex; width: 100%;}
.mid_img2 ul li{width: auto;}
.mid_img2 ul li.mid_con3{width: auto; margin-right: 10px;}
.mid_img2 ul li.mid_con4{width: auto; margin-left: 10px;}
.mid_img2 ul li img{display: block; width: 100%;}


.mid_img3{position: relative; padding-top: 100px; height: auto; overflow: hidden; }
.mid_img3 .inner_con{_position: relative; overflow: hidden; width: 100%; max-height:100vh;}
.mid_img3 .inner_con img{width: 100%; height: auto;}
.inner-big{display: block;}
.inner-small{display: none;}

.mid_img3 .banner_inner{ position: absolute; display: flex;  align-items: center; max-width: 1650px; width: 100%; height:calc(100% - 102px); left: 50%; transform: translateX(-50%);}
.mid_img3 .banner_inner .dummy_box{width: 50%;  position: relative;}
.mid_img3 .banner_inner .banner_text_wrap{width: 50%;  position: relative; text-align: center; box-sizing: border-box; padding: 0 20px;}
.mid_img3 .banner_inner .banner_text_wrap p{color: #fff;}
.mid_img3 .banner_inner .banner_text_wrap .tit{font-size: 2.3571em; letter-spacing: 2px; margin-bottom: 20px;}
.mid_img3 .banner_inner .banner_text_wrap .sub_tit{padding-bottom: 15px;}
.banner_text_wrap .action_btn3{margin-top: 20px; position: relative; border: 1px solid rgb(199, 199, 199); background: none; padding:0 20px; min-height: 49px; display: inline-block; overflow: hidden; transition: background .2s ease,color .2s ease,border .2s ease;}
.banner_text_wrap .action_btn3 span{position: relative; color: #fff; font-size: 15px; line-height: 49px; font-weight: 600; transition: all .5s; letter-spacing: 1px;}
.banner_text_wrap .action_btn3:hover{border: 1px solid rgb(255, 255, 255);}
.banner_text_wrap .action_btn3:hover:before{transform: none;}
.banner_text_wrap .action_btn3:hover span{color:#555;}
.banner_text_wrap .action_btn3:before{ content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff; transform: translate3d(0,101%,0); transition: transform .6s cubic-bezier(.19,1,.22,1);}




.mid_img4{ padding: 100px 0 0;  width: 77%; height: auto; margin: auto; }
.mid_img4 .mid_inner{display: flex; flex-direction: row-reverse; align-items: center; width: 100%; height: 100%; }

.mid_img4 .mid_con5{position: relative; width: 50%; padding-right: 20px; box-sizing: border-box;}
.mid_img4 .mid_con5 .text_info2{padding: 0 10%;  margin: 0;}

.mid_img4 .mid_con5 .text_info2 h1{ color: #c40d2e; width: 80%; font-size: 38px; font-weight: 400; font-family: 'Jost', sans-serif; letter-spacing: 3px; }
.mid_img4 .mid_con5 .text_info2 p{width: 85%; letter-spacing: 1px; color: #555; margin-top: 20px; margin-bottom: 20px;}



.mid_img4 .inner_con{width: 50%; overflow: hidden; box-sizing: border-box; padding-left: 30px;}
.mid_img4 .inner_con img{display: block; width: 100%;}

/*------------------------------------------------------------------------------------------*/
.mid_img5{width: 100%; height: auto; padding: 100px 0 0 0;}
.mid-small-txt{display: none; color: #fff; text-align: center; width: 90%; margin: 0 auto; padding-top: 20px;}
a{text-decoration: none;}

.background{  background: url(../img/background.jpg); width: 100%; height:auto; padding: 100px 0 70px 0;}

.back_table{display: table; table-layout: fixed; width: 100%;  max-width: 1400px;  margin: 0 auto;}

.con_imgbox_left{padding-left: 5%; display: table-cell; position: relative; vertical-align: middle; text-align: left; color: #fff;}
.con_imgbox_left img{display: block; width: 55%; padding: 2% 0 5% 0; }
.con_imgbox_left p{width: 70%; font-weight: 400; letter-spacing: 2px; font-family: 'Jost', sans-serif;}


.action_btn2{margin-top: 20px; position: relative; border: 1px solid rgba(255,255,255,.3); background: none; padding:0 40px; min-height: 49px; display: inline-block; overflow: hidden;
    transition: background .2s ease,color .2s ease,border .2s ease;}
.action_btn2 span{position: relative; color: #fff; font-size: 18px;   line-height: 49px; font-weight: 400;font-family: 'Jost', sans-serif; transition: all .5s;}
.action_btn2:hover{border: 1px solid #c40d2e;}
.action_btn2:hover:before{transform: none;}
.action_btn2:hover span{
    color: #c40d2e;
}
.action_btn2:before{ content: '';
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff;    transform: translate3d(0,101%,0);
    transition: transform .6s cubic-bezier(.19,1,.22,1);
}

.con_imgbox_right{display: table-cell; position: relative; vertical-align: middle; }

.con_imgbox_right .img_left{width: 51%;}
.con_imgbox_right .img_left img{display: block;  display: inline; max-width: 100%; }

.con_imgbox_right .img_right{position: absolute; width: 51%; bottom: 0; right: 0; text-align: center; color: #fff; padding: 7% 0;}
.con_imgbox_right .img_right img{display: block; width: 100%;}

.con_imgbox_right .img_right h1{font-size: 5vw; font-weight: 400;}

.con_imgbox_right .img_right p{display: inline-block;}
.con_imgbox_right .img_right i{position: absolute; padding: 3px 0; cursor: pointer; margin-left: 5px; transition:all 0.5s;}
.con_imgbox_right .img_right i:hover{margin-left: 15px;}
.con_imgbox_right .img_right p:hover:after{ margin-left: 10px;}



.mid_img6{max-width: 1464px; width: 100%; max-height: 830px; margin: auto; }
.mid_img6 .mid_inner{padding-bottom: 100px; width: 100%;}
.mid_img6 .mid_inner .inner_text{text-align: center;}
.mid_img6 .mid_inner .inner_text a{color: #555; transition: all 0.4s; font-weight: 500; letter-spacing: 1px;  border-bottom: solid 1px #e5e5e5;}
.mid_img6 .mid_inner .inner_text a:hover{color: #c40d2e; border-color: #c40d2e;}

.mid_img6 .mid_inner .inner_text h1{color: #c40d2e; font-size: 40px; font-weight: 400; font-family: 'Jost', sans-serif; letter-spacing: 3px; margin-bottom: 10px;}
.mid_img6 .mid_inner .info_box{width: 100%;  box-sizing: border-box; margin-top: 50px; padding: 0 10px;}
.mid_img6 .mid_inner .info_box ul{width: 100%; display: table; table-layout: fixed;}
.mid_img6 .mid_inner .info_box ul li{display: table-cell; width: auto; height: auto; box-sizing: border-box; padding: 0 12px ;}


.mid_img6 .mid_inner .info_box .info_img{position: relative;}
.mid_img6 .mid_inner .info_box .info_img img{width: 100%;}


.mid_img6 .mid_inner .info_box ul li a,
.mid_img6 .mid_inner .info_box ul li h3{color: #c40d2e; min-height: 60px; font-weight: 400;}
.mid_img6 .mid_inner .info_box ul li p{color: #555; font-size: 15px; font-weight: 300;}
.info_box .info_a{padding: 10px 0 20px 0;}
.info_box ul li a{font-size: 10px;}
.info_box ul li h3{font-weight: 300; letter-spacing: .05em}

footer{height: auto; width: 100%; }

footer .news_lt{width: auto;  padding: 50px 0; }
footer .news_lt .news_lt_grid{margin: auto; max-width: 652px; width: 90%; text-align: center;}

footer .news_lt h2{color: #555; font-weight: 400;}
footer .news_lt form fieldset{position: relative; margin: 15px auto 0 auto; padding-right: 120px;}
footer .news_lt form .submit_box{height: 49px; width: 100%; background: rgb(250, 250, 250); position: relative; border: 1px solid rgb(201, 201, 201); outline: none; box-sizing: border-box; padding: 0 20px;}


footer .news_lt form button{position: absolute; top: 0; right: 0; width: 120px; min-height: 49px; outline: 0; border: 1px solid #c40d2e; background: #c40d2e; color: #fff; overflow: hidden; box-sizing: border-box;
    transition: background .2s ease,color .2s ease,border .2s ease; display: inline-block;}
footer .news_lt form p span{font-size: 14px; letter-spacing: 1px; color: #555;}


footer .news_lt form button span{position: relative; color:#fff; font-size: 15px; letter-spacing: 1px;  font-weight: 500; transition: all .5s;}

footer .news_lt form button:hover{border: 1px solid #c40d2e;}
footer .news_lt form button:hover:before{transform: none;}
footer .news_lt form button:hover span{
    color: #c40d2e;
}
footer .news_lt form button:before{ content: '';
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff; transform: translate3d(0,101%,0);
    transition: transform .6s cubic-bezier(.19,1,.22,1); }


footer .news_lt form .control label{position: absolute; transition: all 0.2s; top: 12px; color: #555; left: 19px;}
footer .news_lt form .control label span{transition: all 0.2s;}
footer .news_lt form .control label.on{position: absolute; top: -12px; color: #555; left: 19px;}
footer .news_lt form .control label.on span{font-size: 12px; background: #fff; padding: 0 ;}

.footer_main_upper{background: #f9f9f9; padding: 40px 0; border: none; text-transform: uppercase;}
.footer_main_upper .grid_center{max-width: 1200px; margin: auto; }
.footer_main_upper .grid_center .footer_main_table{
    width: 100%; display: table; table-layout: fixed;
}
.footer_main_upper .grid_center .footer_main_table h3 span{color: #c40d2e;}

.footer_main_table>div{padding: 0 20px; display: table-cell; width: 33.333%;}

.footer_main_table ul h3{min-height: 0; margin-bottom: 1em; font-size: 21px; font-weight: 300;}
.submenu li{margin: -2px 0;}
.submenu li a{font-size: 13px; color: #777; letter-spacing: 1px; transition: all 0.4s;}
.submenu li:hover a{color: #c40d2e;}
.btm_con h3{padding: 50px 0 0 0;}


.main_middle{border-left: 1px solid #e5e5e5;}
.main_right{border-left: 1px solid #e5e5e5;}



.main_right .action_btn {padding: 0 45px;}
.main_right .action_btn span{font-size: 15px; }




.footer_main_bottom{background: #f2f2f2;}
.footer_main_bottom .btm_wrap{display: table; table-layout: fixed; height: 70px; width: 94%; margin: auto;}
.btm_wrap .btm_left{padding: 10px 20px 10px 0; display: table-cell; width: 50%; text-align: left; vertical-align: middle;}

.btm_wrap .btm_left .copyright{display: inline-block; font-size: 11px; color: #555; letter-spacing: 1px;}
.btm_wrap .btm_left ul{display: inline-block;}
.btm_wrap .btm_left ul li a{font-size: 11px; color: #555; letter-spacing: px; text-decoration: underline; transition: all 0.4s;}
.btm_wrap .btm_left ul li{display: inline-block; }
.btm_wrap .btm_left ul li+li{border-left:1px solid #555; line-height: 8px; padding-left: 5px;}

.btm_wrap .btm_left ul li:hover a{color: #c40d2e;}


.btm_wrap .btm_right{padding: 10px 0; display: table-cell; width: 50%; text-align: right; vertical-align: middle;}
.btm_wrap .btm_right .language{display: inline-block; position: relative; box-sizing: border-box;}
.btm_wrap .btm_right .language button{line-height: 40px; background: none; outline: none; border: none; }
.btm_wrap .btm_right .language button i{color: rgb(109, 109, 109); font-size: 20px; vertical-align: middle;transition: all 0.4s;}
.btm_wrap .btm_right .language button span{padding: 0 20px 0 10px ; color: rgb(109, 109, 109);transition: all 0.4s;}

.btm_wrap .btm_right .language button:hover i, .btm_wrap .btm_right .language button:hover span{color: #c40d2e;}